<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="main-panel">
        <app-header></app-header>
        <div class="content">
            <!-- container-fluid -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">

                        <!-- <button class="btn btn-success btn-sm" (click)="OpenBarcodeScan()">เปิดแสกน</button>
                        <button class="btn btn-danger btn-sm" (click)="CloseBarcodeScan()">ปิดแสกน</button>

                        <barcode-scanner-livestream
                        type="code_39"
                        (valueChanges)="onValueChanges($event)"
                        (started)="(onStarted)"
                      ></barcode-scanner-livestream>
                      <div [hidden]="!barcodeValue">
                        {{ barcodeValue }}
                      </div> -->


                    <form [formGroup]="FormOne"> 
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">
                            Barcode คิวอ้อยทางไกล
                            </span>
                            <input type="text" formControlName="zeroqrcodedata" [(ngModel)]="barcode" class="form-control" (change)="Loadqonline(barcode)">
                            
                            <!-- <input type="text" (window:keypress)="onKey($event)"  autofocus  class="form-control"/> -->
                            
                        
                        </div>
                        <div class="input-group mb-3">
                        <!-- <p>barcode: {{ barcode }}</p>  -->
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                1.โควต้าชาวไร่ :
                            </span>
                            <input type="text" list="farmer21" class="form-control" formControlName="onefmcode">
                            <datalist id="farmer21">
                                <option *ngFor="let item of farmerzone21">{{item.fmcode_b1}} {{item.fmname}}</option>
                            </datalist>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                2.ทะเบียนรถ :
                            </span>
                            <input type="text" class="form-control" formControlName="twotruckreg" list="Truckdata">
                            <datalist id="Truckdata">
                                <option *ngFor="let item of truckdata">{{item.TRUCK_NO}} {{item.REGTRUCK}}</option>
                            </datalist> 
                        </div>

                        <div class="input-group mb-3">
                            <button class="btn btn-info" (click)="UpdateQueue();">บันทึก</button>
                        </div>
                    </form>
                    </div>
                </div>
               
                <div class="card">
                <div class="card-body">
                    <table class="table" *ngFor="let item of farqrdata">
                        <tr>
                            <td> ใบคิว</td>
                            <td>{{item.truck_q}} </td>
                        </tr>
                        <tr>
                            <td> เจ้าของอ้อย</td>
                            <td>{{item.fmname}} </td>
                        </tr>
                          <tr>
                              <td> </td>
                              <td>{{item.f}} </td>
                          </tr>
                          
                    </table>
                </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>    
        <app-footer></app-footer>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="showqueue" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">ลำดับคิว</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            นำคิวนี้ไปเขียนบนบัตร : {{this.forwardqrun + 1}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
